# General Dependencies
setuptools
pyyaml
robotframework
robotframework-faker

# Database Dependencies
pymssql
robotframework-databaselibrary

# Backend Dependencies
robotframework-requests
robotframework-jsonlibrary
robotframework-jsonvalidator